:host ::ng-deep {
  .p-menubar-button {
    color: green;
  }
  .p-menubar-item:not(.p-disabled) > .p-menubar-item-content:hover {
    background-color: #de7a7a;
    color: blue;
  }
  .p-menubar-item-content {
    color: green;
  }
}
