<div class="chat-container" #scrollMe>
  <div class="chat" *ngFor="let message of chatHistory.chatMessages; let i = index">
    <div
      class="p-2"
      [ngClass]="[
        message.role === 'assistant' ? 'chat-assistant' : 'chat-user',
        message.role === 'assistant' && lightDarkMode === 'Light' ? 'bg-purple-200' : '',
        message.role === 'assistant' && lightDarkMode === 'Dark' ? 'bg-purple-600' : '',
        message.role === 'user' && lightDarkMode === 'Light' ? 'bg-green-200' : '',
        message.role === 'user' && lightDarkMode === 'Dark' ? 'bg-green-600' : ''
      ]"
    >
      {{ message.message }}
    </div>
  </div>
</div>
