:host {
  display: block;
  width: 100%;
  height: 30vh;
  max-height: fit-content;
  overflow: scroll;
}

@media screen and (max-width: 768px) {
  :host {
    height: 60vh;
  }
}

@media screen and (max-width: 480px) {
  :host {
    height: 45vh;
  }
}

.chat-container {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.chat {
  @apply flex flex-row justify-end items-end;
  --rad: 20px;
  --rad-sm: 3px;
  padding: 5px 25px 5px 25px;
}

.chat-assistant {
  justify-content: flex-start;
  padding: 12px 15px;
  margin-bottom: 5px;
  border-radius: var(--rad) var(--rad) var(--rad) var(--rad-sm);
  margin-right: auto;
  white-space: pre-wrap;
  /* color: black; */
}

.chat-user {
  justify-content: flex-end;
  padding: 12px 15px;
  margin-bottom: 5px;
  border-radius: var(--rad) var(--rad) var(--rad-sm) var(--rad);
  margin-left: auto;
  white-space: pre-wrap;
  /* color: black; */
}
