<div class="chat-container" #scrollMe>
  @if(chatHistory.chatMessages){
  <div class="chat" *ngFor="let message of chatHistory.chatMessages; let i = index">
    <div
      class="p-2"
      [ngClass]="[
        message.role === 'assistant' ? 'chat-assistant' : 'chat-user',
        message.role === 'assistant' && lightDarkMode === 'Light' ? 'bg-purple-300' : '',
        message.role === 'assistant' && lightDarkMode === 'Dark' ? 'bg-purple-700' : '',
        message.role === 'user' && lightDarkMode === 'Light' ? 'bg-green-300' : '',
        message.role === 'user' && lightDarkMode === 'Dark' ? 'bg-green-700' : ''
      ]"
    >
      {{ message.message }}
    </div>
  </div>
  }
</div>
