/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
/* @use 'primeicons/primeicons.css';
@use 'tailwindcss'; */
@plugin "tailwindcss-primeui";
/* @layer tailwind, primeng; */

/* @layer app-styles {
  .p-menubar-button {
    background-color: green;
  }
} */
@tailwind utilities;
@import 'primeicons/primeicons.css';

.max-height {
  height: calc(100vh - 60px);
}
/* Only if we want to override */
/* .my-app-dark {
  --canvas-bg: #0b0b80;
}

:root {
  --canvas-bg: green;
}

:root .canvas-container {
  background-color: var(--canvas-bg);
} */

:root {
  --canvas-bg: var(--p-surface-0);
  --content-bg: var(--p-surface-100);
  --content-divider: var(--p-primary-300);
  --content-secondary-text: var(--p-surface-500);
  --content-border: var(--p-primary-300);
  --messege-error: var(--color-red-600);
  --custom-chart-text: blue;
}

.my-app-dark:root {
  --canvas-bg: var(--p-surface-900);
  --content-bg: var(--p-surface-800);
  --content-divider: var(--p-primary-800);
  --content-secondary-text: var(--p-surface-400);
  --content-border: var(--p-primary-800);
  --messege-error: var(--color-red-500);
  --custom-chart-text: red;
}

.canvas-container {
  background-color: var(--canvas-bg);
}

.content-container {
  background-color: var(--content-bg);
  border: 1px solid var(--content-border);
}

.content-divider {
  background-color: var(--content-divider);
}

.content-secondary-text {
  color: var(--content-secondary-text);
}

.message-error {
  color: var(--messege-error);
}

html:root {
  background-color: var(--p-surface-0);
}

html.my-app-dark:root {
  background-color: var(--p-surface-900);
}
