/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
/* @use 'primeicons/primeicons.css';
@use 'tailwindcss'; */
@plugin "tailwindcss-primeui";
/* @layer tailwind, primeng; */

/* @layer app-styles {
  .p-menubar-button {
    background-color: green;
  }
} */
@tailwind utilities;
@import 'primeicons/primeicons.css';

.max-height {
  height: calc(100vh - 60px);
}
/* Only if we want to override */
/* .my-app-dark {
  --canvas-bg: #0b0b80;
}

:root {
  --canvas-bg: green;
}

:root .canvas-container {
  background-color: var(--canvas-bg);
} */

.my-app-dark {
  --canvas-bg: var(--p-surface-900);
}

:root {
  --canvas-bg: var(--p-surface-100);
}

.canvas-container {
  background-color: var(--canvas-bg);
}

html {
  background-color: var(--p-surface-0);
}

html.my-app-dark {
  background-color: var(--p-surface-900);
}
