.page-container {
  padding: 4rem;
}

@media screen and (max-width: 768px) {
  .page-container {
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .page-container {
    padding: 0.5rem;
  }
}
