<!-- <p>login-page works!</p> -->
<!-- FREE PRIME BLOCK (PLACEHOLDER) -->
<!-- https://primeblocks.org/free -->
<div class="h-full bg-surface-50 dark:bg-surface-950 px-6 py-20 md:px-20 lg:px-80">
  <div
    class="bg-surface-0 dark:bg-surface-900 p-8 md:p-12 shadow-sm rounded-2xl w-full max-w-sm mx-auto flex flex-col gap-8"
  >
    <div class="flex flex-col items-center gap-4">
      <div class="flex items-center gap-4">
        <!-- INSERT IMAGE HERE -->
      </div>
      <div class="flex flex-col items-center gap-2 w-full">
        <div
          class="text-surface-900 dark:text-surface-0 text-2xl font-semibold leading-tight text-center w-full"
        >
          Welcome Back
        </div>
        <div class="text-center w-full">
          <span class="text-surface-700 dark:text-surface-200 leading-normal"
            >Don't have an account?</span
          >
          <a
            class="text-primary font-medium ml-1 cursor-pointer hover:text-primary-emphasis"
            (click)="onLinkClick()"
            >Create today!</a
          >
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-6 w-full">
      <div class="flex flex-col gap-2 w-full">
        <label for="email1" class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
          >Email Address</label
        >
        <input
          pInputText
          id="email1"
          type="text"
          placeholder="Email address"
          class="w-full px-3 py-2 shadow-sm rounded-lg"
        />
      </div>
      <div class="flex flex-col gap-2 w-full">
        <label
          for="password1"
          class="text-surface-900 dark:text-surface-0 font-medium leading-normal"
          >Password</label
        >
        <input
          pInputText
          id="password1"
          type="password"
          placeholder="Password"
          class="w-full px-3 py-2 shadow-sm rounded-lg"
        />
      </div>
    </div>
    <button pButton class="w-full py-2 rounded-lg flex justify-center items-center gap-2">
      <i pButtonIcon class="pi pi-user text-base! leading-normal!"></i>
      <span pButtonLabel>Sign In</span>
    </button>
  </div>
</div>
