<div class="form-container" #scrollMe>
  <div class="w-full">
    <textarea class="w-full" rows="5" pTextarea [(ngModel)]="value"></textarea>
  </div>
  <div class="button mt-4">
    <p-button label="Clear Chat" (onClick)="clearChat()" class="mr-4" [disabled]="!hasChat()" />
    <p-button label="Clear Prompt" (onClick)="clearPrompt()" class="mr-4" [disabled]="!value" />
    <p-button
      label="Submit"
      [loading]="loading"
      [disabled]="!value"
      (onClick)="submitPrompt(value)"
      (keyup.enter)="submitPrompt(value)"
      styleClass="submit h-full"
    />
  </div>
</div>
