<!-- Placeholder Free HTML Template from PrimeNG's Primeblock -->
<div class="page-container px-6 py-5 md:px-20 md:py-10 lg:px-20 lg:py-20">
  <div class="canvas-container px-6 py-20 md:px-12 lg:px-20">
    <div class="flex flex-col gap-4 items-center justify-center mb-12">
      <div class="font-bold text-4xl lg:text-5xl text-center leading-tight">
        Welcome to the Greenthumb App!
      </div>
      <div class="text-lg text-center leading-normal content-secondary-text">
        This app has two main features: A dashboard section and an AI chat messenger section.
      </div>
    </div>

    <div class="flex lg:flex-row flex-col gap-8 max-w-7xl mx-auto">
      <div class="w-full flex-1 p-8 flex rounded-2xl flex-col shadow-sm gap-6 content-container">
        <div class="flex flex-col gap-2">
          <h4 class="font-medium text-2xl leading-tight">Dashboard</h4>
          <p class="leading-normal content-secondary-text">
            The dashboard section consists of multiple dashboard pages that displays sensor
            readings, from the IoT Gardening System, in tabular and graphical format. The sensor
            readings shown on the dashboards are collected from the entirety of one growing session
            of a plant.
          </p>
        </div>

        <div class="w-full h-px content-divider"></div>
        <ul class="list-none flex flex-col gap-4 flex-1">
          <li class="flex items-center gap-2">
            <i class="pi pi-sparkles text-lg! text-green-500"></i>
            <span class="leading-tight">
              Provides measurement values, unit, and captured dates
            </span>
          </li>
          <li class="flex items-center gap-2">
            <i class="pi pi-sparkles text-lg! text-green-500"></i>
            <span class="leading-tight"> View on Line Graph or Data Table </span>
          </li>
          <li class="flex items-center gap-2">
            <i class="pi pi-sparkles text-lg! text-green-500"></i>
            <span class="leading-tight"> Simple and Elegant </span>
          </li>
          <li class="flex items-center gap-2">
            <i class="pi pi-sparkles text-lg! text-green-500"></i>
            <span class="leading-tight"> Reponsive </span>
          </li>
        </ul>
        <button pButton [rounded]="true" class="w-full" (click)="routeToDashboard()">
          <span pButtonLabel>Go To Dashboard</span>
        </button>
      </div>
      <div class="w-full flex-1 p-8 flex rounded-2xl flex-col shadow-sm gap-6 content-container">
        <div class="flex flex-col gap-2">
          <h4 class="font-medium text-2xl leading-tight">AI Chat Messenger</h4>
          <p class="leading-normal content-secondary-text">
            The AI Chat Messenger is a chat messenger that has utilized Microsoft's Semantic
            Kernel's Agent and Handoff Orchestration frameworks and Kernel Functions to pull data
            from Adafruit IO and local JSON files to provide users analytical or factual information
            about the IoT Gardening System.
          </p>
        </div>
        <div class="w-full h-px content-divider"></div>
        <ul class="list-none flex flex-col gap-4 flex-1">
          <li class="flex items-center gap-2">
            <i class="pi pi-sparkles text-lg! text-green-500"></i>
            <span class="leading-tight"> General Project Information </span>
          </li>
          <li class="flex items-center gap-2">
            <i class="pi pi-sparkles text-lg! text-green-500"></i>
            <span class="leading-tight"> Sensor Hardware Information </span>
          </li>
          <li class="flex items-center gap-2">
            <i class="pi pi-sparkles text-lg! text-green-500"></i>
            <span class="leading-tight"> Sensor Data Information and Analysis </span>
          </li>
          <li class="flex items-center gap-2">
            <i class="pi pi-sparkles text-lg! text-green-500"></i>
            <span class="leading-tight"> General Plant Information </span>
          </li>
        </ul>
        <button pButton [rounded]="true" class="w-full" (click)="routeToChat()">
          <span pButtonLabel>Go To Chat Messenger</span>
        </button>
      </div>
    </div>
  </div>
</div>
